{% extends 'core/layout.html' %}
{% load static %}
{% block title %} Password Change {% endblock %}
{% block body %}
<div class="page-content">
<legend class="border-bottom mb-4">
   Password Change
</legend>
    <form method="POST">
        {% csrf_token %}
        <p>Old Password: {{ form.old_password }}</p>
        <p>New Password: {{ form.new_password1 }}</p>
        <div style="background-color:lightgray;">
            <ul>
                <li>Your password can’t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
            </ul>
        </div>
        <p>New password confirmation: {{ form.new_password2 }}</p>
        <button class="btn btn-sm btn-primary" type="submit">Change My Password</button>
    </form>
</div>
{% endblock %}
