{% extends 'core/layout.html' %}
{% load static %}
{% block title %}Budget{% endblock %}
{% block body %}
<div class="page-content">
    <div class="container-fluid">
        <table id="financeTable" class="cell-border compact hover">
            <thead>
                <tr>
                    <th class="fit">Month Year</th>
                    <th class="fit">Number of Tithe Donors</th>
                    <th class="fit">Tithe Amount</th>
                    <th class="fit">Number of Church Budget Donors</th>
                    <th class="fit">Church Budget Amount</th>
                    <th class="fit">Total Local Funds Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for record in data %}
                    <tr>
                        <td class="fit">{{record.month_year}}</td>
                        <td class="fit">{{record.number_tithe_donors}}</td>
                        <td class="fit">{{record.tithe}}</td>
                        <td class="fit">{{record.number_church_budget_donors}}</td>
                        <td class="fit">{{record.church_budget}}</td>
                        <td class="fit">{{record.total_local_funds}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
