{% extends 'core/layout.html' %}
{% load static %}
{% block title %}Members{% endblock %}
{% block body %}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div>
                <canvas id="financeChart"></canvas>
            </div>
        </div>
        <table id="financeTable" class="cell-border compact hover">
            <thead>
                <tr>
                    <th class="fit">Month Year</th>
                    <th class="fit">Number of Tithe Donors</th>
                    <th class="fit">Tithe Amount</th>
                    <th class="fit">Number of Church Budget Donors</th>
                    <th class="fit">Church Budget Amount</th>
                    <th class="fit">Total Local Funds Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for record in data %}
                    <tr>
                        <td class="fit">{{record.month_year}}</td>
                        <td class="fit">{{record.number_tithe_donors}}</td>
                        <td class="fit">{{record.tithe}}</td>
                        <td class="fit">{{record.number_church_budget_donors}}</td>
                        <td class="fit">{{record.church_budget}}</td>
                        <td class="fit">{{record.total_local_funds}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-autocolors"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
  <script src="https://unpkg.com/chart.js-plugin-labels-dv/dist/chartjs-plugin-labels.min.js"></script>
  <script>
      const ctx = document.getElementById("financeChart");
      const myFinanceChart = new Chart(ctx, {
        type: "bar",
        data: {
          labels: {{labels|safe}},
          datasets: [{
            data: {{values|safe}}
          }]
        },
        options: {
            plugins: {
                legend: {
                    display: false
                },
                title: {
                    display: true,
                    text: "Church Budget",
                    font: {
                        size: 20
                    }
                }
            }
        }
      });
    </script>
{% endblock %}