{% extends 'core/layout.html' %}
{% load static %}
{% block title %}Budget Chart{% endblock %}
{% block body %}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <canvas id="financeChart"></canvas>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-autocolors"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
  <script src="https://unpkg.com/chart.js-plugin-labels-dv/dist/chartjs-plugin-labels.min.js"></script>
  <script>
      const ctx = document.getElementById("financeChart");
      const myFinanceChart = new Chart(ctx, {
        type: "bar",
        data: {
          labels: {{labels|safe}},
          datasets: [{
            data: {{values|safe}}
          }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: true,
            plugins: {
                legend: {
                    display: false
                },
                title: {
                    display: true,
                    text: "Church Budget",
                    font: {
                        size: 20
                    }
                }
            }
        }
      });
</script>
{% endblock %}
