{% extends 'core/layout.html' %}
{% load static %}
{% block title %}Members{% endblock %}
{% block body %}
<div class="page-content">
    <div class="container-fluid">
        <h1>Membership List</h1>
    </div>
    <br />
    <hr>
    <div>
        <table id="memTable" class="cell-border compact hover">
            <thead>
                <tr>
                    <th class="fit">View</th>
                    <th class="fit">Last Name</th>
                    <th class="fit">First Name</th>
                    <th class="fit">Gender</th>
                    <th class="fit">Marital Status</th>
                    <th class="fit">Tier</th>
                    <th class="fit">Street Number</th>
                    <th class="fit">Street Name</th>
                    <th class="fit">City</th>
                    <th class="fit">State</th>
                    <th class="fit">Postal Code</th>
                </tr>
            </thead>
            <tbody>
                {% for member in data_list %}
                    <tr>
                        <td><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
                        <td class="fit">{{member.last_name}}</td>
                        <td class="fit">{{member.first_name}}</td>
                        <td class="fit">{{member.gender}}</td>
                        <td class="fit">{{member.marital_status}}</td>
                        <td class="fit">{{member.tier}}</td>
                        <td class="fit">{{member.street_number}}</td>
                        <td class="fit">{{member.street_name}}</td>
                        <td class="fit">{{member.city}}</td>
                        <td class="fit">{{member.state_abbrev}}</td>
                        <td class="fit">{{member.postal_code}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
{% endblock %}
